/* Grid container for interests */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.grid-item {
    text-align: center;
}

.grid-item img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Footer styling */
footer {
    background-color: #c94770;
    color: white;
    text-align: center;
    padding: 20px;
}

footer p {
    margin: 10px 0;
}